// Nav
@mixin nav-li {
    margin: 20px;
    a{
        text-decoration: none;
        color: rgb(0, 119, 255);
        font-size: xx-large;
        padding: 10px;
        transition: 0.4s;
        width: 200px;
        transition: 0.4s;
        font-weight: bolder
    };
    a:hover{
        border-radius: 2.4mm;
        margin: 10px;
        background-color: rgb(0, 119, 255);
        color: white
    };
    a:focus{
        border-bottom: 4px solid rgb(0, 119, 255);
    }
}

@mixin report-p {
    font-size: xx-large;
    font-weight: 700;
    text-transform: capitalize;
    transition: 0.4s;
    outline: none;
    width: 80%;
    color: black;
}
@mixin fontAwesome {
    font-size: 50px;
    color: black;
    padding-right: 10px;
}
@mixin selMovText {
    color: rgb(0, 119, 255);
    font-size: x-large;
    font-weight: bold;
    width: 40vw;
    height: min-content;
    margin: 0px;
    text-align: start;
    padding: 10px;
}

@mixin nav-li-mini {
    margin: 10px;
    a{
        text-decoration: none;
        color: white;
        font-size: xx-large;
        padding: 5px;
        transition: 0.4s;
        width: 200px;
    };
    a:hover{
        border-radius: 2.4mm;
        margin-top: 10px;
        background-color: rgb(0, 119, 255);
    };
    a:focus{
        border-bottom: 4px solid rgb(0, 119, 255);
    }
}
// Home
